<div class="container">
    <h4 class="mt-5">&nbsp;App-Gifs</h4>
    <div class="row justify-content-center">
        <div class="col-md-2">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" placeholder="Buscard gifs..">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores doloremque, eveniet commodi aut labore
                blanditiis minima, aliquid cumque quas quis mollitia id. Minima maiores laborum et inventore soluta?
                Natus, rerum?</p>

        </div>
    </div>
</div>